{* Manage user admin page *}

{block content}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
		{control manageUser}
	</div>
</div>

{/block}

{block scripts}
{include parent}

{/block}