doctrine:
	user: blogUser
	password: *****
	dbname: postgres
	driver: pdo_pgsql
	metadata:
		App: %appDir%
parameters:


database:
	dsn: 'pgsql:host=127.0.0.1;dbname=postgres'
	user: blogUser
	password: *****
	options:
		lazy: yes
