{* Konkretni clanku blogu *}
{block content}
<article>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{$article->getContent()|noescape|texy}
		</div>
	</div>   
</article>
{* Komentare k clanku + form na pridani noveho komentu *}
{control comments}
{/block}

{block scripts}
{include parent}
{/block}



