articleNF: "Článek nebyl nalezen"
sectionNF: "Rubrika nebyla nalezena"
logoutS: "Odhlášení proběhlo úspěšně"
logout: "Odhlásit se"
signIn: "Přihlásit se"
keepCredentials: "Pamatovat si přihlášení"
credentialsName: "Uživatelské jméno"
credentialsPassword: "Heslo"
webName: "Panopticon"
webDescription: "Zkusme se dívat na svět trochu jinou optikou"
metaDescription: "Cílem blogu panopticon.cz je zveřejňovat necenzurované texty"
termsOfUse: "Pravidla použití obsahu"
section: "Rubrika|Rubriky"
post: "Článek|Články"
newPost: "Nový článek"
editPost: "Editovat článek"
nextPost: "Další příspěvky"
postName: "Nadpis"
postDescription: "Podnadpis"
postContent: "Obsah článku"
published: "Zveřejněno"
isPublished: "Zveřejněný"
inSection: "v rubrice"
save: "Uložit"
requiredItem: "Položka %label% musí být vyplněna nebo vybrána."
invalidId: "Chybný nebo nevybraný identifikátor."
requestS: "Požadavek proběhl úspěšně"
requestN: "Požadavek neproběhl úspěšně, opakujte akci později"
commentName: "Jméno"
commentContent: "Komentář"
preview: "Náhled"
close: "Zavřít"