articleNF: "Článek nebyl nalezen"
sectionNF: "Rubrika nebyla nalezena"
logoutS: "Odhlášení proběhlo úspěšně"
logout: "Odhlásit se"
signIn: "Přihlásit se"
webName: "Panopticon"
webDescription: "Zkusme se dívat na svět trochu jinou optikou"
metaDescription: "Cílem blogu panopticon.cz je zveřejňovat necenzurované texty"
termsOfUse: "Pravidla použití obsahu"
section: "Rubrika|Rubriky"
post: "Článek|Články"
nextPost: "Další příspěvky"
published: "Zveřejněno"
inSection: "v rubrice"