articleNF: "Článek nebyl nalezen"
sectionNF: "Rubrika nebyla nalezena"
tagNF: "Tag nebyla nalezena"
logoutS: "Odhlášení proběhlo úspěšně"
logout: "Odhlásit se"
signIn: "Přihlásit se"
keepCredentials: "Pamatovat si přihlášení"
credentialsName: "Uživatelské jméno"
credentialsPassword: "Heslo"
credentialsLogError: "Přihlašovací údaje nejsou správné."
webName: "Panopticon"
webDescription: "Zkusme se dívat na svět trochu jinou optikou"
metaDescription: "Cílem blogu panopticon.cz je zveřejňovat necenzurované texty"
termsOfUse: "Pravidla použití obsahu"
termsHeading: "Právní doložka"
licence: "Všechny články jsou uvolněny pod licencí"
section: "Rubrika|Rubriky"
tag: "Tag|Tagy"
post: "Článek|Články"
newPost: "Nový článek"
editPost: "Editovat článek"
nextPost: "Další příspěvky"
postName: "Nadpis"
postDescription: "Podnadpis"
postContent: "Obsah článku"
postImage: "Obrázek článku"
published: "Zveřejněno"
isPublished: "Zveřejněný"
inSection: "v rubrice"
updateOn: "aktualizováno"
save: "Uložit"
requiredItem: "Položka %label% musí být vyplněna nebo vybrána."
invalidId: "Chybný nebo nevybraný identifikátor."
requestS: "Požadavek proběhl úspěšně"
requestN: "Požadavek neproběhl úspěšně, opakujte akci později"
requestNA: "Nemáte oprávnění k provedení akce. Přihlašte se a opakujte akci později."
formImage: "Položka %item% musí být JPEG, PNG nebo GIF."
formFormat: "Chybný zápis položky %item%, formát %format%"
commentName: "Jméno"
commentContent: "Komentář"
commentPreview: "Náhled"
close: "Zavřít"
newSection: "Nová sekce"
edit: "Editovat"
delete: "Smazat"
new: "Nový"
about: "Projekt"
title: "Název"
description: "Popisek"
others: "Ostatní"
vote: "Anketa|Ankety"
voteQuestion: "Otázka"
voteType: "Druh otázky"
voteExpiration: "Platnost do"
voteOption: "Odpověď"
adminSection: "Základní rozhraní pro administraci"